[Unit]
Description=Bot-trader Daemon
After=network.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
# NOTE: %h will be resolved to /home/<username>
WorkingDirectory=%h/Bot-trader
ExecStart=/usr/bin/Bot-trader trade
Restart=on-failure

[Install]
WantedBy=default.target

