include LICENSE
include README.md
recursive-include Bot-trader *.py
recursive-include Bot-trader/templates/ *.j2 *.ipynb
include Bot-trader/rpc/api_server/ui/fallback_file.html
include Bot-trader/rpc/api_server/ui/favicon.ico
